.ant-upload-select-picture-card {
  width: 104px;
  height: 104px;
}

.ant-upload-list-picture-card .ant-upload-list-item {
  width: 104px;
  height: 104px;
}

.ant-upload-list-picture-card .ant-upload-list-item-thumbnail img {
  object-fit: cover;
}
