.request-return {
  min-height: 100vh;
  background: #f7f8fa;
  padding: 24rpx;

  .form-group {
    background: #fff;
    border-radius: 16rpx;
    padding: 24rpx;
    margin-bottom: 24rpx;

    .label {
      font-size: 28rpx;
      font-weight: bold;
      color: #323233;
      margin-bottom: 24rpx;
    }

    .textarea {
      width: 100%;
      height: 200rpx;
      font-size: 28rpx;
      color: #323233;
      line-height: 1.5;
    }

    .image-list {
      display: flex;
      flex-wrap: wrap;
      gap: 24rpx;

      .image-item {
        position: relative;
        width: 160rpx;
        height: 160rpx;

        .image {
          width: 100%;
          height: 100%;
          border-radius: 8rpx;
        }

        .delete-btn {
          position: absolute;
          top: -16rpx;
          right: -16rpx;
          width: 32rpx;
          height: 32rpx;
          background: rgba(0, 0, 0, 0.5);
          color: #fff;
          border-radius: 50%;
          display: flex;
          align-items: center;
          justify-content: center;
          font-size: 24rpx;
        }
      }

      .upload-btn {
        width: 160rpx;
        height: 160rpx;
        background: #f7f8fa;
        border-radius: 8rpx;
        display: flex;
        align-items: center;
        justify-content: center;

        .plus {
          font-size: 60rpx;
          color: #dcdee0;
          font-weight: 300;
        }
      }
    }
  }

  .submit-btn {
    margin-top: 48rpx;
    background: #1989fa;
    color: #fff;
    border-radius: 44rpx;
    font-size: 32rpx;
    font-weight: bold;
    
    &[disabled] {
      opacity: 0.6;
    }
    
    &:active {
      opacity: 0.8;
    }
  }
}
