.case-detail {
  padding: 30px;
  background-color: #fff;
  min-height: 100vh;

  .header {
    margin-bottom: 40px;
    border-bottom: 1px solid #eee;
    padding-bottom: 30px;

    .title {
      font-size: 40px;
      font-weight: bold;
      color: #333;
      display: block;
      margin-bottom: 20px;
      line-height: 1.4;
    }

    .date {
      font-size: 24px;
      color: #999;
    }
  }

  .content {
    .block-item {
      margin-bottom: 30px;
      
      .block-text {
        font-size: 30px;
        color: #333;
        line-height: 1.8;
        display: block;
        text-align: justify;
      }

      .block-image {
        width: 100%;
        border-radius: 8px;
        display: block;
      }
    }
  }
}
