.cart {
  height: 100vh;
  background: #F7F8FA;
  display: flex;
  flex-direction: column;

  &.empty {
    justify-content: center;
    align-items: center;

    .empty-content {
      text-align: center;

      .empty-icon {
        width: 300rpx;
        height: 300rpx;
      }

      .empty-text {
        display: block;
        margin-top: 40rpx;
        font-size: 28rpx;
        color: #969799;
      }

      .login-btn,
      .go-shopping-btn {
        margin-top: 40rpx;
        padding: 20rpx 60rpx;
        background: #1989FA;
        color: #fff;
        font-size: 28rpx;
        border-radius: 40rpx;
        display: inline-block;
      }
    }
  }

  .cart-list {
    flex: 1;
    padding-bottom: 120rpx;

    .cart-item {
      display: flex;
      align-items: center;
      padding: 30rpx;
      background: #fff;
      margin-bottom: 20rpx;
      position: relative;

      .checkbox {
        width: 36rpx;
        height: 36rpx;
        border: 2rpx solid #DCDEE0;
        border-radius: 50%;
        margin-right: 20rpx;
        flex-shrink: 0;

        &.checked {
          background: #1989FA;
          border-color: #1989FA;
          position: relative;

          &::after {
            content: '';
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -60%) rotate(45deg);
            width: 8rpx;
            height: 16rpx;
            border: 3rpx solid #fff;
            border-top: none;
            border-left: none;
          }
        }
      }

      .product-image {
        width: 180rpx;
        height: 180rpx;
        border-radius: 8rpx;
        background: #F7F8FA;
        flex-shrink: 0;
      }

      .product-info {
        flex: 1;
        margin-left: 20rpx;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 180rpx;

        .product-name {
          font-size: 28rpx;
          color: #323233;
          line-height: 1.5;
          overflow: hidden;
          text-overflow: ellipsis;
          display: -webkit-box;
          -webkit-line-clamp: 2;
          -webkit-box-orient: vertical;
        }

        .product-bottom {
          display: flex;
          justify-content: space-between;
          align-items: center;

          .product-price {
            font-size: 32rpx;
            font-weight: bold;
            color: #FF6034;
          }

          .quantity-control {
            display: flex;
            align-items: center;
            border: 1rpx solid #EBEDF0;
            border-radius: 8rpx;
            overflow: hidden;

            .btn {
              width: 56rpx;
              height: 56rpx;
              display: flex;
              align-items: center;
              justify-content: center;
              font-size: 32rpx;
              color: #323233;
              background: #F7F8FA;

              &.minus {
                color: #969799;
              }
            }

            .quantity {
              width: 80rpx;
              text-align: center;
              font-size: 28rpx;
              color: #323233;
            }
          }
        }
      }

      .delete-btn {
        position: absolute;
        right: 30rpx;
        top: 30rpx;
        font-size: 24rpx;
        color: #969799;
        padding: 8rpx 16rpx;
      }
    }
  }

  .cart-footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100rpx;
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 30rpx;
    box-shadow: 0 -2rpx 8rpx rgba(0, 0, 0, 0.05);

    .footer-left {
      display: flex;
      align-items: center;

      .checkbox {
        width: 36rpx;
        height: 36rpx;
        border: 2rpx solid #DCDEE0;
        border-radius: 50%;
        margin-right: 16rpx;

        &.checked {
          background: #1989FA;
          border-color: #1989FA;
          position: relative;

          &::after {
            content: '';
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -60%) rotate(45deg);
            width: 8rpx;
            height: 16rpx;
            border: 3rpx solid #fff;
            border-top: none;
            border-left: none;
          }
        }
      }

      .select-all-text {
        font-size: 28rpx;
        color: #323233;
      }
    }

    .footer-right {
      display: flex;
      align-items: center;

      .total-price {
        margin-right: 30rpx;

        .label {
          font-size: 26rpx;
          color: #646566;
        }

        .price {
          font-size: 36rpx;
          font-weight: bold;
          color: #FF6034;
        }
      }

      .checkout-btn {
        padding: 20rpx 40rpx;
        background: #FF6034;
        color: #fff;
        font-size: 28rpx;
        border-radius: 40rpx;
      }
    }
  }
}
