.select-product-page {
  height: 100vh;
  background-color: #f7f8fa;
  
  .product-list {
    height: 100%;
    padding: 20rpx;
    box-sizing: border-box;
  }

  .loading, .empty {
    text-align: center;
    padding: 40rpx;
    color: #999;
    font-size: 28rpx;
  }

  .product-item {
    background: #fff;
    border-radius: 12rpx;
    padding: 24rpx;
    margin-bottom: 20rpx;
    display: flex;
    align-items: center;
    
    .product-img {
      width: 120rpx;
      height: 120rpx;
      border-radius: 8rpx;
      background: #f8f8f8;
      margin-right: 20rpx;
      flex-shrink: 0;
    }
    
    .info {
      flex: 1;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      height: 120rpx;
      
      .name {
        font-size: 28rpx;
        color: #333;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
      }
      
      .price {
        font-size: 32rpx;
        color: #fa4126;
        font-weight: bold;
      }
    }
  }
}
