@import "../../../styles/variables.scss";
@import "../../../styles/mixins.scss";

.select-product-page {
  height: 100vh;
  background-color: $background-color-base;
  
  .product-list {
    height: 100%;
    padding: $spacing-md;
    box-sizing: border-box;
  }

  .loading, .empty {
    text-align: center;
    padding: $spacing-lg;
    color: $text-color-placeholder;
    font-size: $font-size-md;
  }

  .product-item {
    background: $white;
    border-radius: $border-radius-lg;
    padding: $spacing-md;
    margin-bottom: $spacing-md;
    display: flex;
    align-items: center;
    box-shadow: $shadow-sm;
    
    .product-img {
      width: $product-thumb-size;
      height: $product-thumb-size;
      border-radius: $border-radius-md;
      background: $background-color-base;
      margin-right: $spacing-md;
      flex-shrink: 0;
      border: 1px solid $border-color;
    }
    
    .info {
      flex: 1;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      height: $product-thumb-size;
      
      .name {
        font-size: $font-size-md;
        color: $text-color-base;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
      }
      
      .price {
        font-size: $font-size-lg;
        color: $danger-color;
        font-weight: bold;
      }
    }
  }
}
