.select-order-page {
  height: 100vh;
  background-color: #f7f8fa;
  
  .order-list {
    height: 100%;
    padding: 20rpx;
    box-sizing: border-box;
  }

  .loading, .empty {
    text-align: center;
    padding: 40rpx;
    color: #999;
    font-size: 28rpx;
  }

  .order-item {
    background: #fff;
    border-radius: 12rpx;
    padding: 24rpx;
    margin-bottom: 20rpx;
    
    .header {
      display: flex;
      justify-content: space-between;
      font-size: 26rpx;
      margin-bottom: 20rpx;
      padding-bottom: 20rpx;
      border-bottom: 1rpx solid #eee;
      
      .order-no {
        color: #666;
      }
      
      .status {
        color: #fa4126;
        font-weight: bold;
      }
    }

    .content {
      display: flex;
      
      .product-img {
        width: 120rpx;
        height: 120rpx;
        border-radius: 8rpx;
        background: #f8f8f8;
        margin-right: 20rpx;
      }
      
      .info {
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        
        .name {
          font-size: 28rpx;
          color: #333;
          display: -webkit-box;
          -webkit-line-clamp: 2;
          -webkit-box-orient: vertical;
          overflow: hidden;
        }
        
        .meta {
          font-size: 24rpx;
          color: #999;
        }
      }
    }
  }
}
