@import "../../../styles/variables.scss";
@import "../../../styles/mixins.scss";

.select-order-page {
  height: 100vh;
  background-color: $background-color-base;
  
  .order-list {
    height: 100%;
    padding: $spacing-md;
    box-sizing: border-box;
  }

  .loading, .empty {
    text-align: center;
    padding: $spacing-lg;
    color: $text-color-placeholder;
    font-size: $font-size-md;
  }

  .order-item {
    background: $white;
    border-radius: $border-radius-lg;
    padding: $spacing-md;
    margin-bottom: $spacing-md;
    box-shadow: $shadow-sm;
    
    .header {
      display: flex;
      justify-content: space-between;
      font-size: $font-size-sm;
      margin-bottom: $spacing-sm;
      padding-bottom: $spacing-sm;
      border-bottom: 1px solid $border-color;
      
      .order-no {
        color: $text-color-secondary;
      }
      
      .status {
        color: $danger-color;
        font-weight: bold;
      }
    }

    .content {
      display: flex;
      
      .product-img {
        width: $product-thumb-size;
        height: $product-thumb-size;
        border-radius: $border-radius-md;
        background: $background-color-base;
        margin-right: $spacing-md;
        border: 1px solid $border-color;
      }
      
      .info {
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        
        .name {
          font-size: $font-size-md;
          color: $text-color-base;
          display: -webkit-box;
          -webkit-line-clamp: 2;
          -webkit-box-orient: vertical;
          overflow: hidden;
        }
        
        .meta {
          font-size: $font-size-sm;
          color: $text-color-placeholder;
        }
      }
    }
  }
}
