.chat-page {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: #f5f5f5;

  .message-list {
    flex: 1;
    padding: 24rpx;
    box-sizing: border-box;
    
    .time-divider {
      text-align: center;
      margin: 32rpx 0;
      
      .time-text {
        font-size: 24rpx;
        color: #999;
        background-color: rgba(0,0,0,0.05);
        padding: 4rpx 12rpx;
        border-radius: 8rpx;
      }
    }
    
    .message-item {
      display: flex;
      margin-bottom: 32rpx;
      align-items: flex-start;
      
      .avatar {
        width: 80rpx;
        height: 80rpx;
        border-radius: 12rpx;
        background-color: #e0e0e0;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-shrink: 0;
        font-size: 28rpx;
        color: #666;
      }
      
      .content {
        max-width: 70%;
        display: flex;
        flex-direction: column;
        
        .sender-name {
          font-size: 24rpx;
          color: #999;
          margin-bottom: 8rpx;
          margin-left: 4rpx;
        }

        .bubble {
          padding: 20rpx 24rpx;
          border-radius: 12rpx;
          font-size: 30rpx;
          line-height: 1.5;
          word-break: break-all;
          position: relative;
        }
        
        .status {
          font-size: 20rpx;
          margin-top: 8rpx;
          text-align: right;
          
          &.error {
            color: #ff4d4f;
          }
          
          &.sending {
            color: #999;
          }
        }
      }
      
      &.me {
        flex-direction: row-reverse;
        
        .avatar {
          margin-left: 20rpx;
          background-color: #1989fa;
          color: #fff;
        }
        
        .content {
          align-items: flex-end;
          
          .bubble {
            background-color: #1989fa;
            color: #fff;
            border-top-right-radius: 4rpx;
          }
        }
      }
      
      &.other {
        flex-direction: row;
        
        .avatar {
          margin-right: 20rpx;
        }
        
        .content {
          align-items: flex-start;
          
          .bubble {
            background-color: #fff;
            color: #333;
            border-top-left-radius: 4rpx;
          }
        }
      }
    }
  }
  
  .input-area {
    background-color: #f7f7f7;
    border-top: 1rpx solid #e5e5e5;
    padding: 16rpx 24rpx;
    padding-bottom: calc(16rpx + env(safe-area-inset-bottom));
    display: flex;
    align-items: center;
    
    .chat-input {
      flex: 1;
      background-color: #fff;
      border-radius: 8rpx;
      padding: 16rpx 20rpx;
      min-height: 72rpx;
      font-size: 30rpx;
      margin-right: 20rpx;
    }
    
    .send-btn {
      width: 120rpx;
      height: 72rpx;
      line-height: 72rpx;
      background-color: #1989fa;
      color: #fff;
      font-size: 28rpx;
      border-radius: 8rpx;
      padding: 0;
      margin: 0;
      
      &.disabled {
        background-color: #a0cfff;
        opacity: 0.8;
      }
      
      &:active {
        opacity: 0.8;
      }
    }
  }
}
