.chat-page {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: #f5f5f5;

  .message-list {
    flex: 1;
    padding: 24rpx;
    box-sizing: border-box;
    
    .time-divider {
      text-align: center;
      margin: 32rpx 0;
      
      .time-text {
        font-size: 24rpx;
        color: #999;
        background-color: rgba(0,0,0,0.05);
        padding: 4rpx 12rpx;
        border-radius: 8rpx;
      }
    }
    
    .message-item {
      display: flex;
      margin-bottom: 32rpx;
      align-items: flex-start;
      
      .avatar {
        width: 80rpx;
        height: 80rpx;
        border-radius: 12rpx;
        background-color: #e0e0e0;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-shrink: 0;
        font-size: 28rpx;
        color: #666;
      }
      
      .content {
        max-width: 70%;
        display: flex;
        flex-direction: column;
        
        .sender-name {
          font-size: 24rpx;
          color: #999;
          margin-bottom: 8rpx;
          margin-left: 4rpx;
        }

        .bubble {
          padding: 20rpx 24rpx;
          border-radius: 12rpx;
          font-size: 30rpx;
          line-height: 1.5;
          word-break: break-all;
          position: relative;

          .message-image {
            max-width: 400rpx;
            border-radius: 8rpx;
            display: block;
          }
          
          .message-video {
            width: 400rpx;
            height: 225rpx;
            border-radius: 8rpx;
            display: block;
          }
        }
        
        .status {
          font-size: 20rpx;
          margin-top: 8rpx;
          text-align: right;
          
          &.error {
            color: #ff4d4f;
          }
          
          &.sending {
            color: #999;
          }
        }
      }
      
      &.me {
        flex-direction: row-reverse;
        
        .avatar {
          margin-left: 20rpx;
          background-color: #1989fa;
          color: #fff;
        }
        
        .content {
          align-items: flex-end;
          
          .bubble {
            background-color: #1989fa;
            color: #fff;
            border-top-right-radius: 4rpx;
          }
        }
      }
      
      &.other {
        flex-direction: row;
        
        .avatar {
          margin-right: 20rpx;
        }
        
        .content {
          align-items: flex-start;
          
          .bubble {
            background-color: #fff;
            color: #333;
            border-top-left-radius: 4rpx;
          }
        }
      }
    }
  }
  
  .chat-footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 999;
    background-color: #f7f7f7;
    border-top: 1rpx solid #e5e5e5;
    padding-bottom: env(safe-area-inset-bottom);

    &.has-panel {
      padding-bottom: 0;
    }
  }

  .input-area {
    background-color: #f7f7f7;
    padding: 16rpx 24rpx;
    display: flex;
    align-items: center;
    
    .chat-input {
      flex: 1;
      background-color: #fff;
      border-radius: 8rpx;
      padding: 16rpx 20rpx;
      min-height: 72rpx;
      font-size: 30rpx;
    }

    .media-btn {
      width: 60rpx;
      height: 60rpx;
      margin-left: 20rpx;
      display: flex;
      align-items: center;
      justify-content: center;
      border: 2rpx solid #999;
      border-radius: 50%;
      color: #999;
      flex-shrink: 0;
      
      .plus-icon {
        font-size: 40rpx;
        line-height: 1;
        margin-top: -6rpx;
      }

      &:active {
        opacity: 0.7;
        background-color: #e0e0e0;
      }
    }
  }

  .action-panel {
    height: 500rpx;
    background-color: #f7f7f7;
    padding: 40rpx 30rpx;
    display: flex;
    flex-wrap: wrap;
    border-top: 1rpx solid #e5e5e5;
    box-sizing: border-box;
    padding-bottom: calc(40rpx + env(safe-area-inset-bottom));
    
    .action-item {
      width: 25%;
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-bottom: 40rpx;
      
      .icon-wrapper {
        width: 110rpx;
        height: 110rpx;
        background-color: #fff;
        border-radius: 24rpx;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 16rpx;
        box-shadow: 0 2rpx 8rpx rgba(0,0,0,0.05);
        
        .action-icon {
          width: 64rpx;
          height: 64rpx;
        }
      }
      
      .label {
        font-size: 24rpx;
        color: #666;
      }
      
      &:active {
        opacity: 0.8;
      }
    }
  }
}
