.category-page {
  display: flex;
  height: 100vh;
  background: #F7F8FA;

  .category-sidebar {
    width: 180rpx;
    background: #F7F8FA;

    .category-item {
      height: 100rpx;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 28rpx;
      color: #646566;
      background: #F7F8FA;
      position: relative;

      &.active {
        background: #fff;
        color: #1989FA;
        font-weight: bold;

        &::before {
          content: '';
          position: absolute;
          left: 0;
          top: 50%;
          transform: translateY(-50%);
          width: 6rpx;
          height: 40rpx;
          background: #1989FA;
          border-radius: 0 4rpx 4rpx 0;
        }
      }
    }
  }

  .product-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    background: #fff;

    .sort-bar {
      display: flex;
      align-items: center;
      height: 88rpx;
      padding: 0 30rpx;
      border-bottom: 1rpx solid #EBEDF0;

      .sort-item {
        flex: 1;
        text-align: center;
        font-size: 28rpx;
        color: #646566;

        &.active {
          color: #1989FA;
          font-weight: bold;
        }
      }
    }

    .product-scroll {
      flex: 1;
    }

    .product-list {
      padding: 20rpx 30rpx;

      .product-item {
        display: flex;
        padding: 20rpx 0;
        border-bottom: 1rpx solid #EBEDF0;

        .product-image {
          width: 180rpx;
          height: 180rpx;
          border-radius: 8rpx;
          background: #F7F8FA;
          flex-shrink: 0;
        }

        .product-info {
          flex: 1;
          margin-left: 20rpx;
          display: flex;
          flex-direction: column;
          justify-content: space-between;

          .product-name {
            font-size: 28rpx;
            color: #323233;
            line-height: 1.5;
            overflow: hidden;
            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
          }

          .product-brand {
            font-size: 24rpx;
            color: #969799;
            margin-top: 8rpx;
          }

          .product-bottom {
            display: flex;
            justify-content: space-between;
            align-items: center;

            .product-price {
              font-size: 32rpx;
              font-weight: bold;
              color: #FF6034;
            }

            .product-sales {
              font-size: 24rpx;
              color: #969799;
            }
          }
        }
      }
    }

    .loading-text {
      text-align: center;
      padding: 30rpx 0;
      font-size: 26rpx;
      color: #969799;
    }
  }
}
