.brand-page {
  min-height: 100vh;
  background: #F7F8FA;

  .product-scroll {
    height: 100vh;
  }

  .product-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20rpx 30rpx;

    .product-item {
      width: 330rpx;
      margin-bottom: 20rpx;
      background: #fff;
      border-radius: 8rpx;
      overflow: hidden;

      .product-image {
        width: 100%;
        height: 330rpx;
        background: #F7F8FA;
      }

      .product-info {
        padding: 16rpx;

        .product-name {
          font-size: 28rpx;
          color: #323233;
          line-height: 1.5;
          overflow: hidden;
          text-overflow: ellipsis;
          display: -webkit-box;
          -webkit-line-clamp: 2;
          -webkit-box-orient: vertical;
          height: 84rpx;
        }

        .product-bottom {
          display: flex;
          justify-content: space-between;
          align-items: center;
          margin-top: 12rpx;

          .product-price {
            font-size: 36rpx;
            font-weight: bold;
            color: #FF6034;
          }

          .product-sales {
            font-size: 24rpx;
            color: #969799;
          }
        }
      }
    }
  }

  .loading-text {
    text-align: center;
    padding: 30rpx 0;
    font-size: 26rpx;
    color: #969799;
  }
}
